body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  margin-right: 2%;
}
.d{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  
}
.fa-twitter{
  width: 100px;
  margin-left: 12%;
  margin-bottom: 13%;
  color: rgb(42,184,206);
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 17px;
  min-width: x;
  
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table ,
.content-table {
  padding: 12px 15px;
}

.content-table {
  border-bottom: 1px solid #dddddd;
}

.content-table  {
  background-color: #f3f3f3;
}

.content-table {
  border-bottom: 2px solid #009879;
}

.content-table  {
  font-weight: bold;
  color: black;
}
.ncdc{
  text-align: center
  ;
}
.stylish{
  color: white;
  background-color: black;
  height: 500px;
  
}
@media(max-width: 770px){
  .content-table{
    width: 100%;
  }
  footer{
    width: 100%;
  }
}
.twitter{
  text-align: center;
}
  
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  background-color: black;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.coloritis{
  font-size: 15px;
}