body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  margin-right: 2%;
}
.d{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  margin: 12%;
}
.fa-twitter{
  width: 100px;
  margin-left: 12%;
  margin-bottom: 13%;
  color: rgb(42,184,206);
}